# =========================
# Node
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Build
# =========================
dist/
build/

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.idea/
.vscode/
*.swp

# =========================
# Coverage
# =========================
coverage/

# =========================
# Sequelize
# =========================
sequelize-meta.json

# =========================
# Temp files
# =========================
tmp/
temp/